<div class="text-center">
  <button (click)="navigate()" *ngIf="isLoggedIn() && isCurrentUserTeacher()" type="button" class="mb-6 text-center w-96 bg-gray-800 border border-gray-800 rounded text-white py-3 hover:bg-transparent duration-200 hover:text-gray-700 hover:border-gray-800">Neues Angebot erstellen</button>
</div>

<div class="flex flex-wrap mx-auto items-stretch justify-center ">
  <div *ngFor="let offer of loopOffers" class="w-full h-full items-stretch flex-shrink-0 lg:w-1/3 m-6 bg-white p-6 shadow-lg rounded">
    <app-offer-list-item [offer]="offer" [subject]="subject" (reloadEvent)="loadOffers()"></app-offer-list-item>
  </div>
</div>

