<div class="max-w-screen-2xl mx-auto">
  <div class="text-center" *ngIf="!finished">
    <svg role="status" class="flex-1 w-20 h-20 inline mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
      <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
    </svg>
  </div>
  <div *ngIf="finished">
  <a (click)="stepBack()" class="cursor-pointer w-28 ml-12 py-3 px-4 text-center text-white border border-transparent duration-200 rounded bg-gray-800 hover:bg-white hover:text-gray-700 hover:border-gray-800">Zurück</a>
  <h2 class="focus:outline-none text-3xl text-center mb-12 font-medium leading-5 text-gray-700">{{offer.name}}</h2>
  <div class="flex justify-center mb-16">
          <div class="pl-3 text-left">
            <p class="focus:outline-none text-sm leading-normal pt-2 text-gray-500">von {{owner.firstname}} {{owner.lastname}}</p>
            <p class="focus:outline-none text-sm leading-normal pt-2 text-gray-500">{{owner.phone}}</p>
            <p class="focus:outline-none text-sm leading-normal pt-2 text-gray-500">{{owner.email}}</p>
          </div>
      <p class="ml-12 w-1/3 focus:outline-none text-left text-sm leading-5 text-gray-700 ">{{offer.description}}</p>
      <div class="flex ml-12 items-start" *ngIf="isCurrentUserOwner()">
        <a routerLink="../../subjects/{{offer.subject_id}}/edit-offer/{{offer.id}}">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
          </svg>
        </a>
        <button (click)="deleteOffer(offer)">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>
        </button>
      </div>
  </div>

  <div class="flex justify-center text-center mb-6">
    <div class="flex-shrink">
    <h3 class="text-center focus:outline-none text-xl text-center font-medium leading-5 mb-6 text-gray-700">Verfügbare Termine</h3>
    <!--Table-->
    <div class="container flex justify-center mb-12">
      <div class="flex flex-col">
        <div class="w-full">
          <p class="text-center text-sm mb-2 text-gray-700" *ngIf="!appointments || !appointments.length">Derzeit leider keine Termine verfügbar!</p>
          <div class="border-b border-gray-200 shadow" *ngIf="appointments && appointments.length">
            <table>
              <thead class="bg-gray-50">
              <tr>
                <th class="px-6 py-2 text-xs text-gray-500">
                  ID
                </th>
                <th class="px-6 py-2 text-xs text-gray-500">
                  Datum
                </th>
                <th class="px-6 py-2 text-xs text-gray-500">
                  von
                </th>
                <th class="px-6 py-2 text-xs text-gray-500">
                  bis
                </th>
                <th class="px-6 py-2 text-xs text-gray-500" *ngIf="isLoggedIn() && !isCurrentUserOwner() && isCurrentUserSearcher()">
                  Auswahl
                </th>
              </tr>
              </thead>
              <tbody class="bg-white">
              <tr class="whitespace-nowrap" *ngFor="let appointment of appointments">
                <td class="px-6 py-4 text-sm text-gray-500">
                  {{appointment.id}}
                </td>
                <td class="px-6 py-4">
                  <div class="text-sm text-gray-900">
                    {{appointment.date}}
                  </div>
                </td>
                <td class="px-6 py-4 text-sm text-gray-500">
                  {{appointment.time_from}}
                </td>
                <td class="px-6 py-4 text-sm text-gray-500">
                  {{appointment.time_to}}
                </td>
                <td class="px-6 py-4" *ngIf="isLoggedIn() && !isCurrentUserOwner() && isCurrentUserSearcher()">
                  <button (click)="bookAppointment(appointment)" class="px-4 py-1 text-sm text-white bg-gray-800 rounded">Auswählen</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="w-1/3">
    <h3 class="text-center focus:outline-none text-xl mb-1 text-center font-medium leading-5 text-gray-700">Kein passender Termin dabei?</h3>
    <p class="text-center text-sm mb-2 text-gray-700">Hinterlasse {{owner.firstname}} ein Kommentar</p>
      <div class="w-3/4 mx-auto mt-12" *ngIf="!isLoggedIn()">Du musst dich hierfür <a class="underline hover:opacity-50" routerLink="../../login">einloggen</a>.</div>
    <div class="w-3/4 mx-auto mb-12" *ngIf="isLoggedIn()">
      <form (submit)="addComment()" class="w-full" [formGroup]="commentForm">
        <div class="mb-2">
          <input type="hidden" formControlName="id">
          <textarea formControlName="description" class="w-full h-32 p-2 border rounded focus:outline-none focus:ring-gray-300 focus:ring-1"
                    id="comment" name="comment" placeholder=""></textarea>
          <div *ngIf="errors['description']" class="text-red-500"> {{ errors['description'] }}</div>
        </div>
        <button [disabled]="commentForm.invalid" class="disabled:opacity-50 enabled:cursor-pointer px-4 border border-transparent py-3 text-white duration-200 bg-gray-800 hover:enabled:text-gray-700 hover:enabled:bg-white hover:enabled:border-gray-800 rounded">Absenden</button>
      </form>
    </div>
  </div>
  </div>

  <div *ngIf="comments && comments.length" class="mb-12">
    <h3 class="text-center focus:outline-none text-xl mb-1 text-center font-medium leading-5 text-gray-700">Kommentare</h3>
    <div class="flex justify-center" *ngFor="let comment of comments">
      <div class="w-1/2 bg-white p-4 my-2 rounded break-all shadow-lg">
      <app-comment [comment]="comment" (deleteEvent)="renderComments()"></app-comment>
      </div>
    </div>
  </div>
</div>
</div>
