<div class="container mx-auto mb-12" *ngIf="isLoggedIn() && finished">
  <div class="text-center">
    <button type="button" class="text-center w-96 bg-gray-800 border border-gray-800 rounded text-white py-3 hover:bg-transparent duration-200 hover:text-gray-700 hover:border-gray-800" (click)="logout()">Logout</button>
  </div>
  <div class="flex mt-12 flex-wrap justify-center max-w-screen-2xl">
    <div class="ml-12 mx-2">
      <div class="bg-white px-3 rounded-sm">
        <h2 class="text-2xl">Meine Daten</h2>
        <div class="text-gray-700">
          <div class="grid text-sm">
            <div class="grid grid-cols-2">
              <div class="py-2 font-semibold">Status</div>
              <div>
                <span class="bg-gray-800 py-1 px-2 rounded text-white text-sm" *ngIf="isCurrentUserSearcher()">Nachhilfe-Suchende:r</span>
                <span class="bg-gray-800 py-1 px-2 rounded text-white text-sm" *ngIf="!isCurrentUserSearcher()">Nachhilfe-Anbieter:in</span>
              </div>
            </div>
            <div class="grid grid-cols-2">
              <div class="py-2 font-semibold">Vorname</div>
              <div class="py-2">{{user.firstname}}</div>
            </div>
            <div class="grid grid-cols-2">
              <div class="py-2 font-semibold">Nachname</div>
              <div class="py-2">{{user.lastname}}</div>
            </div>
            <div class="grid grid-cols-2">
              <div class="py-2 font-semibold">Studiengang</div>
              <div class="py-2">{{user.course_of_studies}}</div>
            </div>
            <div class="grid grid-cols-2">
              <div class="py-2 font-semibold">Semester</div>
              <div class="py-2">{{user.semester}}</div>
            </div>
            <div class="grid grid-cols-2">
              <div class="py-2 font-semibold">Telefonnummer</div>
              <div class="py-2">{{user.phone}}</div>
            </div>
            <div class="grid grid-cols-2">
              <div class="py-2 font-semibold">E-Mail</div>
              <div class="py-2">{{user.email}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-2 mb-12 w-1/2" *ngIf="!isCurrentUserSearcher() && comments && comments.length">
      <h2 class="text-2xl text-center">Kommentare für dich</h2>
      <div class="flex justify-center" *ngFor="let comment of comments">
        <div class="flex-1 bg-white p-4 my-2 rounded break-words shadow-lg">
          <app-comment [comment]="comment" (deleteEvent)="getComments()"></app-comment>
        </div>
      </div>
    </div>
    <div class="ml-12 mb-12 mx-2 " *ngIf="isCurrentUserSearcher() && bookings && bookings.length">
      <h2 class="text-2xl text-center">Gebuchte Termine</h2>
      <div class="flex justify-center">
        <div class="flex-1 my-2 rounded break-all shadow-lg">
          <table>
            <thead class="bg-gray-50">
            <tr>
              <th class="px-6 py-2 text-xs text-gray-500">
                ID
              </th>
              <th class="px-6 py-2 text-xs text-gray-500">
                Angebot
              </th>
              <th class="px-6 py-2 text-xs text-gray-500">
                Anbieter:in
              </th>
              <th class="px-6 py-2 text-xs text-gray-500">
                Datum
              </th>
              <th class="px-6 py-2 text-xs text-gray-500">
                von
              </th>
              <th class="px-6 py-2 text-xs text-gray-500">
                bis
              </th>
            </tr>
            </thead>
            <tbody class="bg-white">
            <tr class="whitespace-nowrap" *ngFor="let booking of bookings">
              <td class="px-6 py-4 text-sm text-gray-500">
                {{booking.id}}
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
                {{booking.name}}
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
                {{booking.owner_firstname}} {{booking.owner_lastname}}
              </td>
              <td class="px-6 py-4">
                <div class="text-sm text-gray-500">
                  {{booking.date}}
                </div>
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
                {{booking.time_from}}
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
                {{booking.time_to}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white px-3 rounded-sm mt-12" *ngIf="!isCurrentUserSearcher() && offers && offers.length">
    <h2 class="text-2xl text-center">Deine Angebote</h2>
      <app-offer-list [offers]="offers"></app-offer-list>
  </div>
</div>

